{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <div class="m-all-150"></div>
    <div class="container">
        <form method="post">
            <div class="row">
                <div class="col-sm-12">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}


                </div>
                <h1 class="mtext-111 cl2 p-b-16">
                    Connexion
                </h1>
                <div class="col-sm-12 p-b-8">
                    <label class="stext-102 cl3" for="inputEmail">Email</label>
                    <input class="size-111 bor8 stext-102 cl2 p-lr-20" value="{{ last_username }}" id="inputEmail" type="email" name="email" required autofocus>
                    <br>
                </div>
                <div class="col-sm-12 p-b-8">
                    <label class="stext-102 cl3" for="inputPassword">Mot de passe</label>
                    <input class="size-111 bor8 stext-102 cl2 p-lr-20" type="password" name="password" id="inputPassword" required>
                    <br>
                </div>
                <input type="hidden" name="_csrf_token"

                       value="{{ csrf_token('authenticate') }}"
                >
                {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
                #}
                <div class="col-sm-12 p-b-8">
                    <a href="#" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">Mot de passe oublier</a>
                    <br>
                    <a href="#" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">Inscription</a>
                    <br>
                </div>
                <button type="submit" class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
                   connexion
                </button>
            </div>
        </form>
    </div>
    <div class="m-all-150"></div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script type="text/javascript">
        {% for message in app.flashes('success') %}
        swal("{{ message|trans }}", "", "success");
        {% endfor %}
        {% for message in app.flashes('error') %}
        swal("{{ message|trans }}", "", "error");
        {% endfor %}
    </script>
{% endblock %}
