{% extends 'admin/base.html.twig' %}


{% block body %}


    <!--**********************************
         Content body start
     ***********************************-->
    <div class="content-body">

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Editer un type de produit</h4>
                            <p class="text-muted m-b-15 f-s-12">Un type de produit peut être une couleur, une taille, une pointure</p>
                            <div class="basic-form">
                                {{ form_start(form) }}
                                <div class="form-group">
                                    {{ form_row(form.product) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.name) }}
                                </div>
                                <ul class="tags"
                                    data-index="{{ form.contentType|length > 0 ? form.contentType|last.vars.name + 1 : 0 }}"
                                    data-prototype="{{ form_widget(form.contentType.vars.prototype)|e('html_attr') }}"
                                ></ul>
                                <div class="form-group">
                                    <button type="button" class="add_item_link btn btn-primary" data-collection-holder-class="tags">Ajouter contenue</button>
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">Ajouter</button>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #/ container -->
    </div>
    <!--**********************************
        Content body end
    ***********************************-->

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        document
            .querySelectorAll('.add_item_link')
            .forEach(btn => {
                btn.addEventListener("click", addFormToCollection)
            });
        document
            .querySelectorAll('ul.tags li')
            .forEach((tag) => {
                addTagFormDeleteLink(tag)
            })
        function addFormToCollection(e) {
            var collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

            var item = document.createElement('li');

            item.innerHTML = collectionHolder
                .dataset
                .prototype
                .replace(
                    /__name__/g,
                    collectionHolder.dataset.index
                );

            collectionHolder.appendChild(item);

            collectionHolder.dataset.index++;

            addTagFormDeleteLink(item);
        }

        function addTagFormDeleteLink (item) {
            const removeFormButton = document.createElement('button');
            removeFormButton.innerText = 'Supprimer';
            removeFormButton.className = 'btn btn-danger'

            item.append(removeFormButton);

            removeFormButton.addEventListener('click', (e) => {
                e.preventDefault();
                // remove the li for the tag form
                item.remove();
            });
        }
    </script>
{% endblock %}


